<div class="dashboard-container">
  <h1>Welcome, have a great day ahead!</h1>

  <nav class="dashboard-navigation"   *ngIf="!adminid">
    <ul>
      <li >
        <a routerLink="/stulogin">Login</a>
      </li>
      <li *ngIf="!adminid">
        <a routerLink="/sturegister">Signup</a>
      </li>
      <li *ngIf="!adminid">
        <a routerLink="/generateresume">ResumeBuild</a>
      </li>
    </ul>
  </nav>

  <div *ngIf="adminid" class="input-container">
    <input type="text" [(ngModel)]="header" class="text-input" placeholder="Header">
    <input type="text" [(ngModel)]="content" class="text-input" placeholder="Content">
    <input type="text" [(ngModel)]="link" class="text-input" placeholder="Link">

    <button class="publish-button" (click)="addinformation()">Add Information</button>
  </div>
  <div class="dashboard-container">
    <!-- Rest of the code -->
    
    <div class="dashboard-content">
      <div class="card-container">
        <div class="card" *ngFor="let headerInfo of headerInformation; let i = index" [ngClass]="{ 'alternate': i % 2 !== 0 }">
        <div class="card-content">
          <i class="card-icon fas fa-user"></i>
          <h3>{{ headerInfo?.header }}</h3>
          <p class="card-description">{{ headerInfo?.content }}</p>
          <div class="card-link">
            <a [href]="headerInfo?.link">Learn More</a>
          </div>
        </div>
        
        <div *ngIf="adminid">
          <button class="btn btn-danger" (click)="delinfo(headerInfo.id)"> 
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div><br>
  </div>
</div>
