

<mat-tab-group [selectedIndex]="selectedTab" style="margin: 10px;">
  <mat-tab label="Reasoning">
    <div class="question-container">
      <div class="questions-list">
        <div class="card" *ngFor="let question of reasoningQuestions; let i = index">
          <div class="card-body">
            <label [for]="'questionOption' + i" class="card-title">
              {{ question.serialNumber }}. {{ question.description }}
            </label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let option of question.options" (click)="selectAnswer(question,option)">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    [name]="'questionOption' + i"
                    [value]="option"
                    [checked]="question.selectedOption === option"
                    (change)="selectAnswer(question, option)"
                  />
                  <label class="form-check-label" (click)="selectAnswer(question, option)">{{ option }}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="English">
    <div class="question-container">
      <div class="questions-list">
        <div class="card" *ngFor="let question of englishQuestions; let i = index">
          <div class="card-body">
            <label [for]="'questionOption' + i" class="card-title">
              {{ question.serialNumber }}. {{ question.description }}
            </label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let option of question.options" (click)="selectAnswer(question,option)">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    [name]="'questionOption' + i"
                    [value]="option"
                    [checked]="question.selectedOption === option"
                    (change)="selectAnswer(question, option)"
                  />
                  <label class="form-check-label" (click)="selectAnswer(question, option)">{{ option }}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Major">
    <div class="question-container">
      <div class="questions-list">
        <div class="card" *ngFor="let question of majorQuestions; let i = index">
          <div class="card-body">
            <label [for]="'questionOption' + i" class="card-title">
              {{ question.serialNumber }}. {{ question.description }}
            </label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let option of question.options" (click)="selectAnswer(question,option)">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    [name]="'questionOption' + i"
                    [value]="option"
                    [checked]="question.selectedOption === option"
                    (change)="selectAnswer(question, option)"
                  />
                  <label class="form-check-label" (click)="selectAnswer(question, option)">{{ option }}</label>
                </div>
              </li>
        </ul>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- Add the Previous and Next buttons -->
<button class="btn btn-primary" [disabled]="currentQuestionIndex === 0" (click)="previousQuestion()">Previous</button>
<button class="btn btn-primary" [disabled]="!isCurrentQuestionAnswered()" (click)="nextQuestion( )">Next</button>
<button class="btn btn-primary" [disabled]="!isQuizFinished" (click)="finishQuiz()">Submit</button>

<button class="btn btn-secondary" (click)="jump()">finish all</button>