<div class="timer-container">
  <div class="timer">{{ formatTime(countdownTimer) }}</div>
</div>

<mat-tab-group #tabGroup [selectedIndex]="selectedTab" class="quiz-tabs">
  <mat-tab label="Reasoning">
    <div class="question-container">
      <div class="questions-list">
        <div class="card" *ngFor="let question of reasoningQuestions; let i = index">
          <div class="card-body">
            <label [for]="'questionOption' + i" class="card-title">
              {{ question.serialNumber }}. {{ question.description }}
            </label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let option of question.options" (click)="selectAnswer(question, option)">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    [id]="'questionOption' + i"
                    [name]="'questionOption' + i"
                    [value]="option"
                    [checked]="question.selectedOption === option"
                    (change)="selectAnswer(question, option)"
                  />
                  <label class="form-check-label" [for]="'questionOption' + i">{{ option }}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="English">
    <div class="question-container">
      <div class="questions-list">
        <div class="card" *ngFor="let question of englishQuestions; let i = index">
          <div class="card-body">
            <label [for]="'questionOption' + i" class="card-title">
              {{ question.serialNumber }}. {{ question.description }}
            </label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let option of question.options" (click)="selectAnswer(question, option)">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    [id]="'questionOption' + i"
                    [name]="'questionOption' + i"
                    [value]="option"
                    [checked]="question.selectedOption === option"
                    (change)="selectAnswer(question, option)"
                  />
                  <label class="form-check-label" [for]="'questionOption' + i">{{ option }}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Major">
    <div class="question-container">
      <div class="questions-list">
        <div class="card" *ngFor="let question of majorQuestions; let i = index">
          <div class="card-body">
            <label [for]="'questionOption' + i" class="card-title">
              {{ question.serialNumber }}. {{ question.description }}
            </label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let option of question.options" (click)="selectAnswer(question, option)">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    [id]="'questionOption' + i"
                    [name]="'questionOption' + i"
                    [value]="option"
                    [checked]="question.selectedOption === option"
                    (change)="selectAnswer(question, option)"
                  />
                  <label class="form-check-label" [for]="'questionOption' + i">{{ option }}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<button  mat-raised-button color="primary"   style="position:relative;left:30px"   (click)="previousTab()"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
<button  mat-raised-button color="primary" style="position:relative;left:130px" (click)="nextTab()"> <mat-icon>keyboard_arrow_right</mat-icon> </button>
<button class="btn btn-primary" [disabled]="!isQuizFinished" style="position:relative;left:130px" (click)="jump()" >Submit All</button>
 