/* questions.component.css */
.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.question-serial {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-description {
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

input[type='radio'] {
  margin-right: 10px;
}

.btn-warning,
.btn-primary,
span {
  margin: 30px;
}

.card .form-check-label,
.form-check,
li {
  cursor: pointer;
}

.card .form-check-label:hover,
.form-check:hover,
li:hover {
  background-color: #f5f5f5;
}

.card {
  margin-top: 20px;
}

label {
  
  color: #666;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
 /* Style the timer */
.timer {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}


/* Style the quiz tabs */
.quiz-tabs {
  background-color: #f1f1f1;
  padding: 10px;
}

.quiz-tab {
  /* Customize the tab appearance */
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 4px;
}

 .quiz-buttons {
  margin-top: 10px;
}

.quiz-buttons button {
  margin-right: 10px;
}
.timer-container {
  position: fixed;
  top: 14px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
   border-radius: 4px;
  z-index: 9999; /* Ensure the timer stays on top of other elements */
}

.timer {
  font-size: 25px;
   color: #444444;
}

