<div class="profile-container">
  <div class="profile-card">
    <div class="profile-card-header">
      <div class="user-avatar">
        <form (ngSubmit)="uploadProfileImage()" enctype="multipart/form-data">
          <label for="profile-image" class="upload-label">
            <img [src]="profileImageUrl ? profileImageUrl : 'https://www.w3schools.com/howto/img_avatar.png'">
            <input type="file" id="profile-image" (change)="onSelectFile($event)">
            Upload Image
          </label>
          <button type="submit">Save</button>
        </form>
      </div>
      <div class="profile-info">
        <h4>{{ name }}</h4>
        <div class="profile-item">
          <p class="label">Gender: <span class="value">{{ gender }}</span></p>
        </div>
        <div class="profile-item">
          <p class="label">Email: <span class="value">{{ email }}</span></p>
        </div>
        <div class="profile-item">
          <p class="label">Phone: <span class="value">{{ phone }}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>