<div class="profile-card">
  <div class="profile-card-header">
    <div class="user-avatar">
      <img src={{ }} alt="User Photo">
    </div>
    <h4>{{name}}</h4>
  </div>
  <div class="profile-item">
    <p class="label">Gender:</p>
    <h6 class="value">{{gender}}</h6>
  </div>
  <div class="profile-item">
    <p class="label">Email:</p>
    <h6 class="value">{{email}}</h6>
  </div>
  <div class="profile-item phone">
    <p class="label">Phone:</p>
    <h6 class="value">{{phone}}</h6>
  </div>
</div>
