<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Videoupload</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><span class="message">* Make sure your video located in the desktop window </span><br><mat-card-content></mat-card-content>  </p>
      <form (ngSubmit)="onSubmit()" class="form">
        <mat-form-field class="form-field">
          <textarea matInput placeholder="Enter the video name in your desktop" [(ngModel)]="videoName" name="path" rows="3"></textarea>
        </mat-form-field>
        <button mat-raised-button  type="submit">send</button><br><br>
      </form>
    </mat-card-content>
  </mat-card> 

  <div class="card-content">
    <h2 class="card-title">{{ stuid }}</h2>
    <p class="card-subtitle"></p>
    <div *ngIf="!transcription && submitting" class="loading">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="transcription" class="transcription">
      <p class="card-description">
        {{ transcription }}
      </p>
    </div>
     
  </div>
</div>

 