body {
  background-color: #f2f2f2;
}

.card {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e7d3d3;
}


.card-title {
  font-weight: bold;
  color: #333333;
}

.result-card {
  border: none;
  border-radius: 8px;
}

.answer-available {
  background-color: #eaf6ed;
}

.no-answer {
  background-color: #f7e8f2;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #555555;
}

.mat-progress-spinner circle {
  stroke: #551555;
}

.loading-spinner.mat-progress-spinner {
  width: 20px;
  height: 20px;
}

.row {
  margin-bottom: 20px;
}

.col-sm-6 {
  padding: 0 10px;
}
