<div class="row">
  <div class="col-sm-12">
    <div class="information-content warning-border">
      <!-- Add your responsive information content here -->
      <p>This is the information content.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">No.Of faces Detected</h5>

        <div *ngIf="!facedetectCount && isloading">
          <mat-progress-spinner  mode="indeterminate" diameter="20"></mat-progress-spinner>
        </div>

        <div *ngIf="facedetectCount">
          <p class="card-text">{{facedetectCount}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">No.of not facing camera</h5>
        
        <div *ngIf="!notLookingCount && isloading">
          <mat-progress-spinner  mode="indeterminate" diameter="20"  ></mat-progress-spinner>
        </div>

        <div *ngIf="notLookingCount">
          <p class="card-text">{{notLookingCount}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
