<div class="table">
  <mat-table [dataSource]="user" class="mat-elevation-z8" style="width: 80%; margin: 30px 40px 0">
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{ column }}">
      <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container *ngIf="isLinkColumn(column)">
          <a [href]="user[column]" (click)="navigateToUserProfile(user.userId)">{{ user[column] }}</a>
        </ng-container>
        <ng-container *ngIf="!isLinkColumn(column)">
          <ng-container *ngIf="column === 'grammer' || column === 'spell' || column === 'facedetection' || column === 'compId'">
            {{ user[column] || '-' }}
          </ng-container>
          <ng-container *ngIf="column !== 'grammer' && column !== 'spell' && column !== 'facedetection' && column !== 'compId'">
            {{ user[column] }}
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <button class="save" (click)="downloadData()">Download as EXCEL</button>

</div>
